*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

  
background-color: #7D98A1;
}


.section-1{
    background-color: gainsboro;
    width: 100%;
}

.tarjeta{
    background-color: rgb(60, 0, 128);
    width: 100px;
    margin: 10px;
    text-align: center;
    padding: 20px;

}
.tarjeta-1{
    background-color: green;
    width: 100px;
    border: solid red 10px;

.tarjeta-2{
    background-color: green;
    width: 100px;
    border: solid red 10px;

.tarjeta-3{
    background-color: green;
    width: 100px;
    border: solid red 10px;


